/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #d28b20;
    /* Font styles*/
    font-family: "Lora", serif;
}
h1,h2,h3{
    font-family: "Noto Serif", serif;
    
}
/* Header */
header {
    position: fixed;
    background-color: #ab47bc;
    padding: 0 1rem;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
}
/*Name of Website styling*/
header>a {
    text-decoration: none;
  
}

header #logo{
    color:#ffffff;
    font-size: 100%x;
    letter-spacing: 1.5px;
}

/* Menu bar styling for mobile */
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;
    
}

/* Menu items styling */
nav {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    z-index: 1;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    background-color: #ffffff;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu>li {
    margin-bottom: 1em;
    text-align: center;
}

#menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

#menu li a:hover {
    color: #ffffff;
    background-color: #ab47bc;
}

/* Show menu when checkbox is checked */
.nav-toggle:checked + .nav-toggle-label + nav {
    display: block;
}

/* media query for screen from tablet to large screen*/
@media screen and (min-width:768px){
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: #ab47bc;
        width: 50%;
        
    }
    #menu{
        display: flex;
        
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    #menu > li{
        /*padding-left: 1rem;*/
        margin: 0 auto;
        
        
        
    }
    #menu>li>a{
        color: #ffffff;
        padding: 0.5rem 1rem;
        
        
    }
    #menu li a:hover{
      background-color: #ffffff;
      color: #3a3a3a;

    }
    .nav-toggle-label{
        display: none;
    }
    #logo{
        font-size: 280%;
        margin:0 0.5rem ;
        line-height: 75px;
    }
}





/* Navbar styles with dropdown toggle */





