/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic font style*/
    font-family: "Lora", serif;
}

h1,
h2,
h3,h4 {
    font-family: "Noto Serif", serif;
}
/*general image styling*/
img {
    object-fit: cover;
    max-width: 100%;
    
}

/* Header */
header {
    width: 100%;
    background-color: #2d7594;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

/* Name of Website styling */
header>#logo {
    text-decoration: none;

}

header #logo-heading {
    color: #ffffff;
}
/*nav label*/
.nav-toggle {

    display: none;
}

.nav-toggle-label {
    display: block;
    font-size: 2rem;
    margin-right: 2%;
}

/*nav links tag* for mobile screens*/
header nav {
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    border: #243a3c;

}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    
    text-align: center;
    

}

#menu li a {
    color: #3a3a3a;
    padding: 1em;
    text-decoration: none;
    display: block;
    font-size: 110%;
    letter-spacing: 2px;
    background-color: #f4f4f4;
    transition: text-decoration 0.5s ease, color 0.5s ease; /* Add transition */
    
}

/*adding hover effects on the menu items*/
#menu li a:hover {
    text-decoration: underline;
    text-decoration-color:#2d7594 ;
    color: #2d7594;
}

.nav-toggle:checked+.nav-toggle-label+nav {
    display: block;
}

.nav-toggle-label i {
    color: #ffffff;
}
/*main element styling*/
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*first section hero styling */
#hero-section {
    /*adding background image*/
    background: url("../images/koshka-cat.jpg") no-repeat center center/cover;
    background-color: yellow;
    width: 100%;
    height: 110vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6rem 0 1rem 0;
   

}

/*inside tags of hero-section elements h1, h3 and p styling*/
#hero-section h1,
#hero-section h3,
#hero-section p {
  background-color: #ffffffd9;
  color:  #2d7594;
  width: 85%;
  padding: 1rem;
  margin: 0 auto;
  border: 1px solid yellow;
  font-size: 4vw;
  max-width: 800px;
}

#hero-section h1 {
    font-size: 6vw;
  }
 
/*anchor tag of p in hero section styling*/
#cta-button {
    text-decoration: none;
    background-color: rgb(255, 187, 0);
    padding: 1rem;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.2s ease;
}

#cta-button:hover {
    background-color: yellow;
    color: black;
}
/* to ensure content doesn't overflow on mobile */
body, html {
    overflow-x: hidden;
}


/*about us section styling start*/
#about-us {

    width: 100%;
    height: fit-content;
    position: relative;
    top: 0;
    font-display: flex;
    flex-direction: column;
}

/*heading div for about us section*/
#intro-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-around;
    gap: 5px;
}

/*elements of intro-heading h2 p and hr styling*/
#intro-heading h2 {
    color: #2d7594;
    text-align: center;

    font-size: 2rem;


}

#intro-heading p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 40px;
}

#intro-heading hr {
    border: 2px solid #2d7594;
}

/*intro purpose sub-heading styling section*/
.intro-subheadings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/*styling for two divs *heading1 and heading-img)inside intro-subheading1*/
#heading1 {
    width: 100%;
    padding: 0.5rem 0;
    
}

#heading1 h3 {
    
    font-size: 150%;
    padding: 1rem 2rem;
    text-align: center;
}

#heading1 ul {
    margin: 10px;
    list-style-type: none;
    padding: 1.5rem;
    
}

#heading1 ul li {
    text-align: justify;
    line-height: 30px;
    font-size: 17px;
    margin-top: 5px;
}

#heading1 ul li strong {
    font-size: 110%;
}

#heading1 strong a {
    text-decoration: none;
    color: #056b6d;
}

#heading1 ul li strong:hover {
    text-decoration: underline;
}

/*ending of #heading1 styling*/
/*starting of style of #heading1-img elements*/
#heading1-img {
    width: 100%;
    padding: 1rem;
}

#heading1-img>img {
    max-width: 100%;
    height: auto;

}

/*styling of heading2 and heading3*/
#heading2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
 }

/*borders for heading2*/
.border-heading2 {
    margin: 0 1rem;
    

}
/* text-content styling for heading2*/
#heading2 .text-content {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
}
/*h3 element inside text-content styling*/
#heading2 .text-content h3 {
    text-align: center;
    font-size: 170%;
    padding: 0.5rem;
    
}
/*p element inside text-content styling*/
#heading2 .text-content p {
    
    text-align: justify;
    font-size: 100%;
    line-height: 30px;
    padding: 1rem;
    
}
/*img element inside heading2 styling*/
#heading2 img {
    height: auto;
    margin-top: 10px;
    box-shadow: 3px 2px 2px gray;
}

/*join our community styling*/
#heading3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid black;
    row-gap: 30px;
    

}
/* text-handling for heading3*/
#heading3 #text-handling {

    display: flex;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF8E1;
 
}

/*h3 element inside text-handling styling*/
#text-handling h3 {
    text-align: center;
    font-size: 170%;
    padding: 0.5rem;
    color: #243a3c;
}

/*p element inside text-handling styling*/
#text-handling p {
    text-align: justify;
    font-size: 100%;
    padding: 1rem;
    line-height: 30px;
    color: #243a3c;
    font-weight: 500;
}



/*img element inside heading3 styling*/
#heading3 img {
    
    height: auto;
}

/* #join-btn element inside heading3 styling*/
#heading3 #join-btn {
    font-size: 150%;
    text-decoration: none;
    background-color: #0b8b8d;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    width: 35%;
    display: block;
    margin-left: 0;


}

#heading3 #join-btn:hover {
    background-color: #ffffff;
    color: #0b8b8d;
}



@media screen and (min-width:536px){
    /* Styles for screens less than 768px */
    
    /*gallery preview styling*/

     div.gallery-container {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 10px;
    }

    div.gallery-item {
        flex: 1 1 calc(50% - 10px); /* Two items per row */
    }
    
#hero-section>p {
    font-size: 2vw; /* Adjust font size for larger screens */
    
}

#hero-section>h1 {
    font-size: 4vw; /* Adjust font size for larger screens */
}

#hero-section>h3 {
    font-size: 2.5vw; /* Adjust font size for larger screens */
}


div.cat-profile img {
    
    height: 30vh;
    width:36%;
    border-radius: 50%;
    
    
}


  }
@media screen and (min-width: 768px) {
    .nav-toggle {
        display: none;
    }
    .nav-toggle-label {
        display: none;
    }
    header nav {
        display: flex;
        position: static;
        width: auto;
        background-color: transparent;
        box-shadow: none;
        align-items: center;
        padding: 0;
    }
    #menu {
        display: flex;
        justify-content: flex-end;
        width: auto;
    }
    #menu li {
        padding: 0;
        margin-left: 5px;
    }
    #menu li a {
        padding: 0.5em 1em;
        color: #ffffff;
        background-color: transparent;
        letter-spacing: 1px;
        transition: background-color 0.5s ease, color 0.5s ease;
    }
    #menu li a:hover {
        background-color: #ffffff;
        color: #2d7594;
        text-decoration: none;
    }

    header #logo-heading {
    font-size: 220%;
    letter-spacing: 3px;
}
#hero-section>h1,
#hero-section>h3,
#hero-section>p {
    font-size: 2vw; /* Adjust font size for larger screens */
    max-width: 60%;
    margin: 3px auto;
}


#hero-section>h1 {
    font-size: 3vw; /* Adjust font size for larger screens */
}

#hero-section>h3 {
    font-size: 2vw; /* Adjust font size for larger screens */
}

    
div.gallery-item {
        flex: 1 1 calc(33.33% - 10px); /* Three items per row */
    }
/*media query styling for cat profile*/




div.cat-profile img {
    
    height: 20vh;
    width: 17%;
    border-radius: 50%;
    
    
}
div.cat-profile ul {
    
    padding-left: 16rem;
    
    
    
}


      
}
@media screen and (min-width: 992px) {
   
    div.cat-profile img {
    
        height: 24vh;
        width: 40%;
    
        border-radius: 50%;
        
        
    }
    a#profiles-btn {
    margin-left: 27rem; 
        
    }
    div.cat-profile ul {
        text-align: center;
        padding-left: 8rem;
        
        
        
    }
    section#cat-profiles {
        
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 10px;
     
    
    }
    div.cat-profile {
        width: 49%;
        height: fit-content;
        row-gap: 3px;
    
        
    }
    /* cat tips*/
/* Base styles for the section */
section#cat-tips {
    width: 100%;
    padding: 1rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
}

section#cat-tips>h2 {
    
    text-align: left;
    
}

/* Container for cat tips */
section#cat-tips>div.cat-tip {
    width: 48%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem;
}

div.cat-tip>img {
    max-width: 40%;
    height: 45vh;
    
}

div.tip-content>h4 {
    
    
    text-align: left;
    

}



/* Tip content container to manage text layout */
div.cat-tip>.tip-content {
    margin-top: 80px;
    
}


div.gallery-item {
    flex: 1 1 calc(25% - 10px); /* Four items per row */
}
}
  
  @media screen and (min-width: 1200px) {
    #hero-section h1,
    #hero-section h3,
    #hero-section p {
        font-size: 1.5vw; /* Further adjust font size for very large screens */
        max-width: 80%;
        margin: 8px auto;
    }
    #hero-section p {
        line-height: 40px;
    }
    #hero-section h1 {
        font-size: 2.3vw; /* Further adjust font size for very large screens */
    }

    #hero-section h3 {
        font-size: 1.5vw; /* Further adjust font size for very large screens */
    }
    /*intro purpose sub-heading styling section*/
div.intro-subheadings {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
}

/*styling for two divs *heading1 and heading-img)inside intro-subheading1*/
#heading1 {
    width: 50%;
    padding: 0.5rem 0;
    
    
}

div#heading1 h3 {
text-align: left;
}

div#heading1 ul {
    margin-top: -30px;
    list-style-type: none;
    padding: 1.5rem;
    
}

/*ending of #heading1 styling*/
/*starting of style of #heading1-img elements*/
#heading1-img {
    width: 50%;
    padding: 1rem;
}

div#heading2 {
    width: 100%;
    display: block;
    border-top: 4px solid #2d7594;
    padding: 1rem;
  
 }

/* text-content styling for heading2*/
div.text-content {
    
    max-width:50% ;
    margin: 20px 0 0 50px;
    float: left;
    border: 1px solid black;
    align-items:center;
    row-gap: 0;
    box-shadow: 0 2px 2px #3a3a3a;

    
}
#heading2 .text-content p {
   width: 90%;
    
}



/*img element inside heading2 styling*/
div#heading2 img {
    width: 40%;
    height: 40vh;
    margin: 30px 0 0 50px;
    float: left;
    
}
/*join our community styling*/
div#heading3{
    display: block;
    gap: 10px;
}
/* text-handling for heading3*/
#heading3 div#text-handling {
    margin-left: 40px;
    width: 50%;
    float: left;

}

/*img element inside heading3 styling*/
div#heading3 img {
    width: 40%;
    height: 50vh;
    float: right;
    margin-right: 40px;
    
}

/* #join-btn element inside heading3 styling*/
#heading3 #join-btn {
    font-size: 150%;
    text-decoration: none;
    background-color: #0b8b8d;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    width: 35%;
    display: block;
    margin-left: 0;
}

#heading3 #join-btn:hover {
    background-color: #ffffff;
    color: #0b8b8d;
}
section#cat-profiles {
        
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
 

}
div.cat-profile {
    width: 49%;
    height: fit-content;
    row-gap: 3px;

    
}
div.cat-profile img {
    position: relative;
    right: 10rem;
    top: 4rem;
    height: 28vh;
    width: 35%;
    border-radius: 50%;
    
    
}
a#profiles-btn {
    
    
    margin-left: 35rem;
    
    
}
div.cat-profile h3 {
   
    position: relative; 
    top:-6rem;
    left: 5rem;
    }
div.cat-profile ul {
    list-style-type: disc;
    
    width: 100%;
    text-align: center;
    padding-left: 5rem;
    position: relative; 
    top:-6rem;
    left: 13rem;
    
    
    
}



}
 
/*styling of cat profile section*/
#cat-profiles {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    align-items: center;
    align-content: center;
    background-color: rgba(231, 160, 46, 0.849);
    padding: 1rem;
    

}

#cat-profiles h2 {
    padding: 1rem;
    background-color: #3a89a1;
    width: 100%;
    font-size: 180%;
    color: aliceblue;
    text-align: center;
}

.cat-profile {
    background-color: rgba(255, 255, 255, 0.938);
    /* Semi-transparent background for readability */
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
    row-gap: 6px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* to ensure  content is contained within the profile */
}

.cat-profile img {
    
    height: 22vh;
    width: 49%;

    border-radius: 50%;
    
    
}

.cat-profile h3 {
   
    font-size: 140%;
    }

.cat-profile ul {
    list-style-type: disc;
    
    width: 100%;
    padding-left: 1.2rem;
    
    
    
}

.cat-profile ul li {
    
    text-align: left;
}



#profiles-btn {
    text-decoration: none;
    background-color: #0b8b8d;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
    
    
}
#profiles-btn:hover{
    background-color: #f8e518;
    color: black;
}

/*fun fact styling*/
#fun-facts {
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

#fun-facts h2 {
    font-size: 2rem;
}

/* Container for fun facts */
.fun-fact {
    display: inline-block;
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fun-fact i {
    font-size: 4rem;
}

.fun-fact p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

/* cat tips*/
/* Base styles for the section */
#cat-tips {
    width: 100%;
    padding: 1rem;
    background-color: #b9d7ea;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
}

#cat-tips h2 {
    padding: 1rem;
    background-color: #1c98be;
    width: 100%;
    font-size: 180%;
    color: aliceblue;
    text-align: center;
    
}

/* Container for cat tips */
div.cat-tip {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    row-gap: 5px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
}

.cat-tip img {
    max-width: 50%;
    height: auto;
    
}

.cat-tip h4 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    text-align: center;
    

}

.cat-tip p {
    
    font-size: medium;
    text-align: justify;
    
}

/* Tip content container to manage text layout */
.tip-content {
    max-width: 600px;
    padding: 1rem;
    
}

/*gallery preview styling*/
#gallery-preview {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

#gallery-preview h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
}

.gallery-item {
    flex: 1;
}

.gallery-item>img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.view-more-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #ff6347;
    text-decoration: none;
    border-radius: 5px;
}

.view-more-button:hover {
    background-color: #ff4500;
}

/*footer styling*/
/* Base Styles (Mobile First) */
footer {
    background-color: #2d7594;
    color: #fff;
    
    text-align: center;
    width: 100%;
    
}

div.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    
}

div.footer-container>.footer-section {
    column-count: 3;
    column-gap: 40px;
    padding: 1rem;
   
}

div.footer-container>h4 {
    font-size: large;
    
}

.footer-section a{
    text-decoration: none;
    color: #fff;
    
}


.social a {
    display:block;
}

.social a>i {
    font-size: 300%;
    color: #fff;
}

.footer-bottom {
    background-color: hsl(189, 83%, 14%);
    padding: 10px 0;
    color: #ccc;
}


/*gallery page styling*/
#gallerypage-container {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 80px;
    background-color: #f3f6f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;


}

/* Styles for individual gallery items */
.gallerypage-item {
    margin: 10px;
    width: 20%;
    /* Four images per row with margin */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    height: 50vh
}

.gallerypage-item img {
    width: 100%;
    height: 80%;
}

.gallerypage-item .caption {
    height: 80px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
}

/*signup page*/
/* Base styles for the signup section */
#signup {
    margin-top:3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../images/catty-wally.jpg") no-repeat center center/cover;
    padding: 1rem;
   

}

#signup-form {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #b2ebf2e6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #0a0909;
    border-radius: 4px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #66afe9;

    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.radio-button label {
    display: inline-block;
    margin-right: 10px;
    font-weight: normal;
}

.radio-button input{
    margin-right: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #218838;
}
main #msg{
    margin-top: 10rem;
    width: 100%;
    height: 55.2vh;
}


