/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Lora", serif;
}

h1,
h2,
h3 {
    font-family: "Noto Serif", serif;
}

img {
    object-fit: cover;
}

/* Header */
header {


    width: 100%;
    background-color: #2d7594;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

/* Name of Website styling */
header>#logo {
    text-decoration: none;

}

header #logo-heading {
    color: #ffffff;
}

/* Menu bar styling for large screens */
/*to hide the menu bar checkbox for large screens*/
.nav-toggle {

    display: none;
}

/*to hide the menu bar for large screens */
.nav-toggle-label {
    display: inline-block;
    font-size: 2rem;
    margin-right: 2%;
}

/*nav links tag* for mobile screens*/
header nav {
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    border: #243a3c;


}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {

    text-align: center;
    padding: 1rem;

}

#menu li a {
    color: #3a3a3a;
    padding: 1em;
    text-decoration: none;
    display: block;
}

/*adding hover effects on the menu items*/
#menu li a:hover {
    background-color: #2d7594;
    color: #ffffff;
}

.nav-toggle:checked+.nav-toggle-label+nav {
    display: block;
}

.nav-toggle-label i {
    color: #ffffff;
}
@media (min-width: 768px) {
    .nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        display: none;
    }

    header nav {
        display: flex;
        position: static;
        width: auto;
        background-color: transparent;
        box-shadow: none;
        align-items: center;
        padding: 0;
    }

    #menu {
        display: flex;
        justify-content: flex-end;
        width: auto;
    }

    #menu li {
        padding: 0;
    }

    #menu li a {
        padding: 0.5em 1em;
        color: #ffffff;
    }

    #menu li a:hover {
        background-color: transparent;
        color: #f0c808;
    }
}
 /* Ensure content doesn't overflow on mobile */
 body, html {
    overflow-x: hidden;
}

/* Add some padding to the body to account for fixed header */

  /* add media query for screen from tablet to large screen*/
@media screen and (min-width:768px){}
@media screen and (min-width:992px){}
@media screen and (min-width:1200px){}

  
  


/*main element styling*/
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*first section hero styling */
#hero-section {
    /*adding background image*/
    background: url("../images/koshka-cat.jpg") no-repeat center center/cover;
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*inside tags of hero-section elements h1, h3 and p styling*/
#hero-section h1 {
    background-color: #00796bab;
    color: white;
    position: absolute;
    width: 50%;
    height: 14%;
    padding: 1rem;
    text-align: center;
    top: 100px;
    left: 50px;
    font-size: xx-large;
    border: 1px solid yellow;
}

#hero-section h3 {
    background-color: #00796bab;
    color: white;
    position: absolute;
    width: 50%;
    padding: 1.5rem;
    height: 14%;
    text-align: center;
    top: 190px;
    left: 100px;
    font-size: large;
    border: 1px solid yellow;
    vertical-align: middle;
}

#hero-section p {
    background-color: #00796bab;
    color: white;
    position: absolute;
    width: 50%;
    padding: 1.5rem;
    border: 1px solid yellow;
    font-weight: 600;
    text-align: justify;
    top: 280px;
    left: 150px;
}

/*anchor tag of p in hero section styling*/
#cta-button {
    text-decoration: none;
    background-color: rgb(255, 187, 0);
    padding: 1rem;
    display: inline-block;
    margin-top: 10px;
}

#cta-button:hover {
    background-color: yellow;
    color: black;
}

/*about us section styling start*/
#about-us {

    width: 100%;
    height: fit-content;
    position: relative;
    top: 0;
    font-display: flex;
    flex-direction: column;

}

/*heading div for about us section*/
#intro-heading {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 1rem;
    justify-content: space-around;
    gap: 5px;
}

/*elements of intro-heading h2 p and hr styling*/
#intro-heading h2 {
    color: #2d7594;
    text-align: center;

    font-size: 2rem;


}

#intro-heading p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 40px;
}

#intro-heading hr {
    border: 2px solid #2d7594;
}

/*intro purpose sub-heading styling section*/
.intro-subheadings {
    width: 100%;
    display: flex;



}

/*styling for two divs *heading1 and heading-img)inside intro-subheading1*/
#heading1 {
    width: 50%;
    height: 90vh;
    display: inline-block;
    float: left;

}

#heading1 h3 {
    margin: 0;
    font-size: 150%;
    padding: 1rem 2rem;
}

#heading1 ul {
    margin: -30px 10px;
    list-style-type: none;
    padding: 1.5rem;
}

#heading1 ul li {
    text-align: justify;
    line-height: 30px;

    font-size: 17px;
    margin-top: 5px;

}

#heading1 ul li strong {
    font-size: 110%;
}

#heading1 strong a {
    text-decoration: none;
    color: #056b6d;
}

#heading1 ul li strong:hover {
    text-decoration: underline;
}

/*ending of #heading1 styling*/
/*starting of style of #heading1-img elements*/
#heading1-img {
    width: 50%;
    height: 90vh;
    padding: 2rem;

    display: inline-block;
    float: right;

}

#heading1-img>img {
    width: 45vw;
    height: 50vh;

    position: relative;
    top: 100px;
}

/*styling of heading2 and heading3*/
#heading2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    align-items: baseline;
    gap: 15px;

    padding: 1rem;
    /*background-color:  #2d7594;*/
    align-items: center;

}

/*borders for heading2*/
.border-heading2 {
    border-top: 1px solid #2d7594;
    border-radius: 20px;
    box-shadow: 3px 2px 2px gray;

}

/*join our community styling*/
#heading3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    align-items: baseline;
    gap: 15px;
    padding: 1rem;
    align-items: center;
    margin-top: 70px;

}

/* text-content styling for heading2*/
#heading2 .text-content {
    flex: 1;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* text-handling for heading3*/
#heading3 #text-handling {

    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #71e0e2d9;
    height: 50vh;
    position: relative;
    left: 20px;


}

/*h3 element inside text-content styling*/
#heading2 .text-content h3 {
    text-align: center;
    font-size: 170%;
    padding: 0.5rem;
}

/*h3 element inside text-handling styling*/
#text-handling h3 {
    text-align: center;
    font-size: 170%;
    padding: 0.5rem;
    color: #243a3c;
}

/*p element inside text-content styling*/
#heading2 .text-content p {
    text-align: justify;
    font-size: 100%;
    width: 100%;

    line-height: 30px;

    padding: 1rem;
}

/*p element inside text-handling styling*/
#text-handling p {
    text-align: justify;
    font-size: 100%;
    width: 100%;
    padding: 1rem;
    line-height: 30px;
    color: #243a3c;
    font-weight: 500;
}

/*img element inside heading2 styling*/
#heading2 img {
    width: 40%;
    height: 300px;
    margin-top: 10px;

}

/*img element inside heading3 styling*/
#heading3 img {
    width: 40%;
    height: 300px;
    position: relative;
    left: -30px;

}

/* #join-btn element inside heading3 styling*/
#heading3 #join-btn {
    font-size: 150%;
    text-decoration: none;
    background-color: #0b8b8d;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    width: 30%;
    margin-left: 0;


}

#heading3 #join-btn:hover {
    background-color: #ffffff;
    color: #0b8b8d;
}

/*styling of cat profile section*/
#cat-profiles {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 0;
    font-display: flex;
    flex-direction: column;
    background-color: rgba(231, 160, 46, 0.849);
    padding: 1rem;

}

#cat-profiles h2 {
    padding: 1rem;
    background-color: #1c98be;
    width: 100%;
    font-size: 180%;
    color: aliceblue
}

.cat-profile {
    background-color: rgba(255, 255, 255, 0.938);
    /* Semi-transparent background for readability */
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* to ensure  content is contained within the profile */
}

.cat-profile img {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    float: left;
    margin-right: 30px;
    margin-left: 20px;
}

.cat-profile h3 {
    margin: 30px 0 5px;
    font-size: 140%;


}

.cat-profile p {
    margin: 15px;
    font-size: 110%;
    line-height: 30px;
    word-spacing: 5px;
}

.cat-profile::after {
    content: "";

    clear: both;
}

#profiles-btn {
    text-decoration: none;
    background-color: #0b8b8d;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
    position: relative;
    top: 10px;
    left: 800px;
}

/*fun fact styling*/
#fun-facts {
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

#fun-facts h2 {
    font-size: 2rem;
}

/* Container for fun facts */
.fun-fact {
    display: inline-block;
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fun-fact i {
    font-size: 4rem;
}

.fun-fact p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

/* cat tips*/
/* Base styles for the section */
#cat-tips {
    width: 100%;
    padding: 20px;
    background-color: #b9d7ea;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#cat-tips h2 {
    padding: 1rem;
    background-color: #1c98be;
    width: 100%;
    font-size: 180%;
    color: aliceblue
}

/* Container for cat tips */
.cat-tip {
    width: 45%;
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
}

.cat-tip img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.cat-tip h4 {
    margin: 0 0 10px;
    font-size: 1.3rem;

}

.cat-tip p {
    margin: 0;
    font-size: medium;
    text-align: justify;
}

/* Tip content container to manage text layout */
.tip-content {
    max-width: 600px;
}

/*gallery preview styling*/
#gallery-preview {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

#gallery-preview h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery-item {
    flex: 1;
    /* Adjust percentage for desired item size */

}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.view-more-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #ff6347;
    text-decoration: none;
    border-radius: 5px;
}

.view-more-button:hover {
    background-color: #ff4500;
}

/*footer styling*/
footer {
    background-color: #097e93;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;




}

.footer-section {
    flex: 1;
    margin: 20px;
    padding: -20px 20px;

    height: 30vh;

}

.footer-section h4 {
    font-size: medium;
    margin-top: 40px;

}

.footer-section a,
.footer-section ul {

    text-decoration: none;
    color: #fff;


}

.footer-section ul {
    list-style: none;

}

.footer-section ul li {
    margin: 15px 0
}

.footer-section ul li a {
    text-decoration: none;
    color: #f5f3f3;
    font-size: 100%;

}

.social a {
    display: inline-block;
    margin: 50px 10px;

}

.social a>i {
    font-size: 200%;
    color: #fff;
}



.footer-bottom {
    background-color: hsl(189, 83%, 14%);
    padding: 10px 0;
    color: #ccc;

}

/*gallery page styling*/
#gallerypage-container {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 80px;
    background-color: #f3f6f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;


}

/* Styles for individual gallery items */
.gallerypage-item {
    margin: 10px;
    width: 20%;
    /* Four images per row with margin */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    height: 50vh
}

.gallerypage-item img {
    width: 100%;
    height: 80%;
}

.gallerypage-item .caption {
    height: 80px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
}

/*signup page*/
/* Base styles for the signup section */
#signup {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../images/galaxy-cat.jpg") no-repeat 75%/cover;

}

#signup-form {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9ea;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #66afe9;

    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.radio-button label,
.checkbox-group label {
    display: inline-block;
    margin-right: 10px;
    font-weight: normal;
}

.radio-button input,
.checkbox-group input {
    margin-right: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #218838;
}



/*Media query for mobile and tablet screens*/
/*@media screen and (max-width: 767px){
    /*header styling for mobile and tablet screens*/
/* header {
    position: fixed;
        z-index: 10;
        display: flex;
        align-items: center;
    
    } 
    header>#logo {
        
        height: fit-content;
        
        
    }
    header #logo-heading {
        
        font-size: 5vw;
        letter-spacing: 0.5px;
    }
    .nav-toggle {
        display: none;
    }
    
    .nav-toggle-label {
        font-size: 2.5rem;
        display: block;
        
    }
    header nav{
        width: 100%;
        display: none;
        border: 1px solid black;
        position: absolute;
        top: 51px;
        left: 0;
        background-color: #ffffff;
        box-shadow: 0 2px 2px #3a3a3a;
        
    }
    #menu{
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        text-align: center;
    }
    #menu li{
        
       display: block;
       text-align: center;
       width: 100%;
       
        
    }
    #menu li a{
        
        color: #3a3a3a;
        padding: 20px;
        
    }
    #menu li a:hover{
        background-color: #2d7594;
        color: #ffffff;
    }
    .nav-toggle:checked + .nav-toggle-label + nav {
        display: block;
        
    }
    
    .nav-toggle-label i {
        color: #ffffff;
    }
    */
/*ending of header styling*/
/*starting of main element styling*/
/*main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    /*first section hero styling */
/*#hero-section{
        /*adding background image*/
/*width: 100%;
        height: 110vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    /*inside tags of hero-section elements h1, h3 and p styling*/
/*#hero-section h1{
       position: absolute;
        width: 80%;
        height: fit-content;
        padding: 1rem;
        top: 100px;
        left: 50px;
        font-size:1rem;
        
    }
    #hero-section h3{
        position: absolute;
        width: 80%;
        padding: 1rem;
        height: fit-content;
        
        top: 160px;
        left: 50px;
        font-size: 1rem;
       
    }
    #hero-section p{
        
        position: absolute;
        width: 80%;
        padding: 1rem;
        text-align: center;
        top: 235px;
        left: 50px;
        line-height: 27px;
    }
    /*anchor tag of p in hero section styling*/
/*#cta-button{
        text-decoration: none;
        background-color: rgb(255, 187, 0);
        padding: 1rem;
        display: inline-block;
        margin-top: 12px;
    }
    /*ending of hero secion element styling*/
/*styling for two divs *heading1 and heading-img)inside intro-subheading1*/
/*.intro-subheadings{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    }

   #heading1{
    width: 100%;
    height: 90vh;
    clear: left;
    }
   #heading1 h3{
    padding: 0;
    font-size: 200%;
    text-align: center;
    }
  #heading1 ul{
      margin: 0 10px;
      padding: 0.5rem;
      
  }
  /*ending of #heading1 styling*/
/*starting of style of #heading1-img elements*/
#heading1-img {
    width: 100%;
    height: fit-content;
    clear: right;

    margin-top: 200px;
}

#heading1-img>img {
    width: inherit;
    height: 50vh;

    position: relative;
    top: 0px;
}

/*our mission element syling*/
#heading2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 5px;
    padding: 1rem;
    align-items: center;

}

#heading2 .text-content {
    flex: 1;
    display: flex;
    width: 100%;
}

#heading2 img {
    width: 100%;
    height: 300px;
    margin-top: 10px;

}

/*join our community styling*/
#heading3 {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    margin-top: 70px;

}

#heading3 #text-handling {
    display: flex;
    width: 100%;
    background-color: #71e0e2d9;
    height: fit-content;
    position: relative;
    top: 10px;
    left: 0px;
}

#heading3 img {
    width: 100%;
    height: 300px;
    position: relative;
    left: 0px;
    top: 10px;

}

#heading3 #join-btn {
    font-size: 130%;
    width: 40%;
    position: relative;
    top: -10px;
    left: 0
}

/* endinf of about section element styling*/





/* Menu items styling */
/*nav {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    z-index: 99;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    background-color: #ffffff;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu>li {
    margin-bottom: 1em;
    text-align: center;
}

#menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

#menu li a:hover {
    color: #f0f0f0;
    background-color: #1ea6b7;
}*/

/* Show menu when checkbox is checked */
/*.nav-toggle:checked + .nav-toggle-label + nav {
    display: block;
    z-index: 200;
}

.nav-toggle-label i {
    color: #ffffff;
}*/

/* Main element styling */
/*main {
    flex: 1 0 auto;
    margin-top: 54px;
    width: 100%;
    border: 1px solid black;
    
}
main h1{
    border: 1px solid black;
    margin-top: 100px;
}
main h1:hover{
    background-color: brown;
}*/

/* Styling to add wallpaper for the content of the hero-content */
/*#hero {
    height: 600px;
    width: 100%;
    background: url("../images/koshka-kot-temnyi-ochki-rubashka-zheltyi-fon.jpg") no-repeat center center/cover;
    position: relative;
    z-index: -12;
    border: 1px solid black;
}*/

/* hero-content styling inside of hero section */
/*#hero-content {
    position: absolute;
    top: 15px;
    left: 32px;
    width: 86vw;
    background-color: rgb(22 97 108 / 67%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 200;
}
#hero-content h1{
    border: 2px solid wheat;
    padding: 4%;
    text-align: center;
    color: #ffffff;
}
#hero-content h1:hover{
    background-color: black;
}
/* Styling for h1, h3, p, and button elements */
/*#hero-content >h1 {
    border: 1px solid wheat;
    padding: 4%;
    text-align: center;
    color: #ffffff;
}

#hero-content >h3 {
    border: 1px solid wheat;
    padding: 2%;
    text-align: center;
    color: #ffffff;
}
#hero-content >p {
    padding: 2rem;
    text-align: center;
    color: #ffffff;
    line-height: 26px;
    font-weight: 500;
    font-size: 1rem;
}

p:hover{
    background-color: tan;
}*/

/* Button of hero content styling */
/*#cta-button {
    background-color: rgba(247, 190, 5, 0.705);
    text-align: center;
    padding: 0.8rem;
    color: black;
    text-decoration: none;
    border: none;
    margin-top: 5px;
    display: inline-block;
    width: 46%;
}

#cta-button:hover {
    background-color: #1ea6b7;
    color: #ffffff;
}
*/
/* Media query for screen from tablet to large screen */
/*@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        padding-right: 1rem;
        background-color: #1ea6b7;
        width: 50%;
    }

    #menu {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    #menu>li {
        margin: 0 auto;
    }

    #menu>li>a {
        color: #ffffff;
        padding: 0.5rem 1rem;
    }

    #menu li a:hover {
        background-color: #ffffff;
        color: #3a3a3a;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        margin: 0 0.5rem;
        line-height: 75px;
    }*/
/* Main element styling */
/*main {
        flex: 1 0 auto;
        margin-top: 70px;
        width: 100%;
        position: relative;
        z-index: -1;
}
main p:hover{
    background-color: brown;
}
#hero-content {
    position: absolute;
    top: 110px;
    left: 90px;
    width: 86vw;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
    #hero-content >h1 {
        border: 1px solid wheat;
        padding: 2%;
        font-size: 2rem;
    }
    #hero-content h1:hover{
      background-color: rgb(244, 255, 127);
      color: #3a3a3a;

    }
    
}*/